h2{
    background-color: lightgreen;

}

h1{
    text-align: center;

}
h1{
    background-color: 	red;
    padding: 40px;
    

}
main p{
    background-color: 	#00CD66;
    
    
    font-size: 20px;

}
body{
    background-color:#54FF9F;
    
    
}
h2{
    text-align:left;

}
h3{
    text-align:left;
    background-color: blue;
    padding: 30px;

}
h4{
    text-align:left;
    background-color: blue;
    padding: 30px;

}
